# Generate More Data from Original Interactions table

In [31]:
import pandas as pd
import random as rd

In [32]:
df = pd.read_csv("data/interactions.csv")

In [33]:
df = df.drop(columns=["lecture_id", "elapsed_time", "user_answer", "content_id", "question_id", "id"])

In [34]:
df.head(10)

   user_id  correct  skill_id
0        0        1         1
1        0        1         1
2        0        0         0
3        0        1         0
4        1        0         1
5        1        0         1
6        1        1         0
7        1        1         0
8        0        1         0
9        0        1         0

In [35]:
unique_skills = df["skill_id"].unique()

skill_difficulties = {}

for skill in unique_skills:
    skill_df = df.loc[df["skill_id"] == skill]

    skill_df = skill_df.reset_index()

    difficulty = round(skill_df["correct"].mean(), 3)

    skill_difficulties[skill] = difficulty

print(skill_difficulties)

{1: 0.667, 0: 0.684, 2: 0.375}

In [36]:
generate_until = 100

In [37]:
# Generate a 100 questions

max_skill_id = max(skill_difficulties.keys())
users_skill = {}

# Get skill difficulties
for i in range(max_skill_id + 1, generate_until + 1):
    skill_difficulties[i] = round(rd.random(), 3)

for i in range(generate_until + 1):
    users_skill[i] = round(rd.random(), 3)

In [39]:
new_df = pd.DataFrame(columns=["user_id", "skill_id", "correct"])

In [42]:
for i in range(generate_until + 1):
    for j in range(generate_until + 1):
        skill_difficulty = skill_difficulties[j]
        user_skill = users_skill[i]

        if user_skill > skill_difficulty:
            correct = 1
        else:
            correct = 0

        new_df = pd.concat([new_df, pd.DataFrame([[i, j, correct]], columns=["user_id", "skill_id", "correct"])])

In [46]:
new_df.to_csv("data/generated.csv", index=False)